* {
    box-sizing: border-box;
  }

  g.pointer {
    cursor: pointer;
  }

  .summary {
    float: left;
    width: 25%;
    padding: 10px;
    height: 100vh;
    background-color:#eee;
  }
  .visu {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
    background-color:rgba(150, 150, 150, 0.25)
  }
  .details {
    float: left;
    width: 25%;
    padding: 10px;
    height: 100%;
    background-color:#eee;
  }

  .radius {
    margin: auto;
    width: 600px;
  }
  .radius a {
    float: left;
    background-color: grey;
    width: 100px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .radius a:hover {
    background-color: #003366;
    color: white;
  }