<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/topnav.css') }}">
        <title>Disasters location</title>
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <div class="search">
                <form action="/location/" method="GET">
                    <label for="lat">Latitude: </label>
                    <input type="number" step="0.0001" id="lat" name="lat">
                    <label for="long">Longitude: </label>
                    <input type="number" step="0.0001" id="long" name="long">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>

        <div class="summary">
            <h1>Summary</h1>
            <p>Volcanos: {{summary[0]}}</p>
            <p>Earthquakes: {{summary[1]}}</p>
            <p>Tsunamis: {{summary[2]}}</p>
        </div>

        <div class="visu">
            <div class="circles"></div>
            <div class="timeline"></div>
        </div>

        <div class="detail"></div>
    </body>
</html>