<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/topnav.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/location.css') }}">
        
        <script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/location.css') }}">
        <title>Disasters location</title>
    </head>
    <body>

        <nav  class="navbar navbar-expand-sm bg-dark navbar-dark col">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Event</a>
                <div class="collapse navbar-collapse">

                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a {% block compare %}class="nav-link" href="/comparaison/50/?lat={{coord[0]}}&long={{coord[1]}}"{% endblock %}>Compare</a>
                        </li>
                    </ul>

                    <form {% block action %} class="d-flex" action="/location/" method="GET" {% endblock %}>
                        <input class="form-control me-2" type="number" id="lat" step="0.0001" name="lat" placeholder={% block value %}"Latitude"{% endblock %}>
                        <input class="form-control me-2" type="number" id="long" step="0.0001" name="long" placeholder={% block value1 %}"Longitude"{% endblock %}>
                        <button class="btn btn-primary" value="Search" type="submit">Search</button>
                    </form>

                </div>
            </div>
        </nav>

        <div class="summary">
           <h1 style="text-align:center">Summary</h1>

           <table>
                <colgroup>
                    <col class="feature"/>
                    <col class="value"/>
                </colgroup>
                <tr>
                    <td>Earthquakes</td>
                    <td>{{summary[1]}}</td>
                </tr>
                <tr>
                    <td>Tsunamis</td>
                    <td>{{summary[2]}}</td>
                </tr>
                <tr>
                    <td>Volcanos</td>
                    <td>{{summary[0]}}</td>
                </tr>
                <tr>
                    <td>Erruptions</td>
                    <td>{{summary[3]}}</td>
                </tr>
                {% if 'deaths' in info %}
                <tr>
                    <td>Deaths (min)</td>
                    <td>{{info['deaths']}}</td>
                </tr>
                {% endif %}
                {% if 'damages' in info %}
                <tr>
                    <td>Damages (min)</td>
                    <td>{{info['damages']}} M $</td>
                </tr>
                {% endif %}
                {% if 'injuries' in info %}
                <tr>
                    <td>Injuries (min)</td>
                    <td>{{info['injuries']}}</td>
                </tr>
                {% endif %}
                {% if 'housesDamaged' in info %}
                <tr>
                    <td>Houses damaged (min)</td>
                    <td>{{info['housesDamaged']}}</td>
                </tr>
                {% endif %}            
            </table>
        </div>

        <div class="visu" style="text-align:center">
            <h1>Location: [ {{coord[0]}} ; {{coord[1]}} ]</h1>
            <div class="circles" style="text-align:center;">
                <svg width = "600" height = "720" style="border:4px solid black; background-color:white">
                    <!-- SVG part for the circle map -->
                    <g>
                        <image href="/static/img/nord.png" x=500 y=60 height="35" width="35" />
                    </g>
                    <g>
                        <circle style="fill: #ffffff" stroke="black" stroke-width="2" cx=300 cy=300 r=250></circle>
                    </g>
                    <g>
                        <text stroke="black" style="font-size: 12px" x=555 y=300>{{scale}}km</text>
                    </g>
                    <g>
                        <circle style="fill: #ffffff" stroke="black" stroke-width="2" cx=300 cy=300 r=125></circle>
                    </g>
                    <g>
                        <text stroke="black" style="font-size: 12px" x=430 y=300>{{semi_scale}}km</text>
                    </g>
                    <g>
                        <circle style="fill: #ff0000" stroke="black" cx=300 cy=300 r=5></circle>
                    </g>

                    <!-- Show each earthquake on the cercle -->
                    {% for e in events["earthquakes"] %}
                    <g class="pointer">
                        <!-- Center of the cercle is at (300,300)
                             The values are slightly different because of the size of the icons
                             The radius of the cercle is 250

                             The projection coordinates are not put at scale before 
                             so if we have an event 50 km on the right of the center, the projection value of x is 50
                             If the radius selected is 50, the x value must be 250 = 50*5 = 50*(250/radius)
                             In the code the radius is called scale
                        -->
                        <image href="/static/img/icon_earthquake.png" x={{288+e["proj"][0]*250/scale}} y={{288+e["proj"][1]*250/scale}} height="25" width="25" onclick="showDetails('e','{{ loop.index }}')"/>
                    </g>
                    {% endfor %}

                    <!-- Show each tsunami on the cercle -->
                    {% for e in events["tsunamis"] %}
                    <g class="pointer">
                        <text style="font-size: 25px" x={{290+e["proj"][0]*250/scale}} y={{310+e["proj"][1]*250/scale}} onclick="showDetails('t','{{ loop.index }}')">🌊</text>
                    </g>
                    {% endfor %}

                    <!-- Show each volcano on the cercle -->
                    {% for e in events["volcanos"] %}
                    <g class="pointer">
                        <text style="font-size: 25px" x={{290+e["proj"][0]*250/scale}} y={{310+e["proj"][1]*250/scale}} onclick="showDetails('v','{{ loop.index }}'); showSlides(1,'{{loop.index}}');">🌋</text>
                    </g>
                    {% endfor %}
                    
                    <!-- SVG part for the timeline -->
                    <line x1="0" y1="575" x2="600" y2="575" stroke="#000" stroke-width="4"/>
                      
                      <!-- principal line with arrow -->
                      <defs>
                        <marker id="arrowhead" markerWidth="5" markerHeight="4" refX="0" refY="2" orient="auto">
                          <polygon points="0 0, 5 2, 0 4" />
                        </marker>
                      </defs>
                      <line x1="0" y1="650" x2="570" y2="650" stroke="#000" stroke-width="5" marker-end="url(#arrowhead)" />
                      
                      <!-- Marks for centuries -->
                      <line x1="10" y1="660" x2="10" y2="640" stroke="#000" stroke-width="2"/>
                      <text style="font-size: 12px" x=0 y=672>1800</text>
                      <line x1="260" y1="660" x2="260" y2="640" stroke="#000" stroke-width="2"/>
                      <text style="font-size: 12px" x=250 y=672>1900</text>
                      <line x1="510" y1="660" x2="510" y2="640" stroke="#000" stroke-width="2"/>
                      <text style="font-size: 12px" x=500 y=672>2000</text>

                       <!-- Marks for each 10 years -->
                      {% for i in [1,2,3,4,5,7,6,8,9] %}
                        <line x1="{{10+i*25}}" y1="655" x2="{{10+i*25}}" y2="645" stroke="#000" stroke-width="1"/>
                        <line x1="{{260+i*25}}" y1="655" x2="{{260+i*25}}" y2="645" stroke="#000" stroke-width="1"/>
                      {% endfor %}         
                      <line x1="535" y1="655" x2="535" y2="645" stroke="#000" stroke-width="1"/>
                      <line x1="560" y1="655" x2="560" y2="645" stroke="#000" stroke-width="1"/>       
                      
                       <!-- For each year with at least 1 event -->
                      {% for year,list in timeline.items() %}
                        {% if year >= 1800 %}
                            <!-- Show a mark at the correct place on the timeline (distance between 2 years are 2.5 and timeline starting at 1800) -->
                            <line x1="{{(year-1800)*2.5+10}}" y1="660" x2="{{(year-1800)*2.5+10}}" y2="640" stroke="#555" stroke-width="3"/>
                            <!-- Show each type of event for this year -->
                            {% for elem in list %}     
                                {% if elem[0] == "e" %}
                            <image href="/static/img/icon_earthquake.png" x={{(year-1800)*2.5}} y=615 height="20" width="20" id=tm{{elem[0]}}{{elem[1]}}></image>
                                {% endif %}
                                {% if elem[0] == "t" %}
                            <text style="font-size: 20px" x={{(year-1800)*2.5}} y=608 id=tm{{elem[0]}}{{elem[1]}}>🌊</text>
                                {% endif %}
                                {% if elem[0] == "v" %}
                            <text style="font-size: 20px" x={{(year-1800)*2.5}} y=690 id=tm{{elem[0]}}{{elem[1]}}>🌋</text>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                      {% endfor %}
                 </svg>
            </div>

             <!-- Buttons to choose the radius -->
            <div class="radius">
                <a>Radius:</a>
                <a href = "/location/10/?lat={{coord[0]}}&long={{coord[1]}}"> 10km </a>
                <a href = "/location/20/?lat={{coord[0]}}&long={{coord[1]}}"> 20km </a>
                <a href = "/location/30/?lat={{coord[0]}}&long={{coord[1]}}"> 30km </a>
                <a href = "/location/40/?lat={{coord[0]}}&long={{coord[1]}}"> 40km </a>
                <a href = "/location/50/?lat={{coord[0]}}&long={{coord[1]}}"> 50km </a>
            </div>
        </div>

        <div class="details">
            <div id="details">

                <!-- The details of each event are created but by default not dispayed
                     If statements are added in the case the feature was not available in the dataset 
                     When the user click on 1 event, it will show the correspondant details -->
                {% for e in events["earthquakes"] %}
                <div class="details_table" id="e{{loop.index}}" style="display:none">
                    <h1 style="text-align:center">Details of the earthquake</h1>
                    <table>
                        <colgroup>
                            <col class="feature"/>
                            <col class="value"/>
                        </colgroup>
                        <tr>
                            <td>Location</td>
                            <td>{{e["locationName"]}}</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>{{e["year"]}}/{{e["month"]}}/{{e["day"]}}</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>{{e['distance']}}km</td>
                        </tr>
                        <tr>
                            <td>Coordinates</td>
                            <td>[ {{e["latitude"]}} ; {{e["longitude"]}} ]</td>
                        </tr>
                        {% if 'intensity' in e %}
                        <tr>
                            <td>Intensity</td>
                            <td>[{{e["intensity"]["id"]}}] {{e["intensity"]["description"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'eqMagnitude' in e %}
                        <tr>
                            <td>Magnitude</td>
                            <td>{{e["eqMagnitude"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'eqDepth' in e %}
                        <tr>
                            <td>Depth</td>
                            <td>{{e["eqDepth"]}} km</td>
                        </tr>
                        {% endif %}
                        {% if 'deaths' in e %}
                        <tr>
                            <td>Deaths (min)</td>
                            <td>{{e["deaths"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'damages' in e %}
                        <tr>
                            <td>Damages (min)</td>
                            <td>{{e["damages"]}}M $</td>
                        </tr>
                        {% endif %}
                        {% if 'injuries' in e %}
                        <tr>
                            <td>Injuries (min)</td>
                            <td>{{e["injuries"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'housesDamaged' in e %}
                            <tr>
                                <td>Houses damaged (min)</td>
                                <td>{{e["housesDamaged"]}}</td>
                            </tr>
                        {% endif %}
                    </table>
                        {% if 'comments' in e %}
                        <table>
                            <tr>
                                <td style="background-color: rgba(0, 92, 179, 0.4);">Comments</td>
                            </tr>
                            <tr>
                                <td style="background-color: rgba(100, 100, 100, 0.25); font-size: 16px;">{{e["comments"]}}</td>
                            </tr>
                        </table>
                        {% endif %}
                </div>
                {% endfor %}

                {% for e in events["tsunamis"] %}
                <div class="details_table" id="t{{loop.index}}" style="display:none">
                    <h1 style="text-align:center">Details of the tsunami</h1>
                    <table>
                        <colgroup>
                            <col class="feature"/>
                            <col class="value"/>
                        </colgroup>
                        <tr>
                            <td>Location</td>
                            <td>{{e["locationName"]}}</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>{{e["year"]}}/{{e["month"]}}/{{e["day"]}}</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>{{e['distance']}}km</td>
                        </tr>
                        <tr>
                            <td>Coordinates</td>
                            <td>[ {{e["latitude"]}} ; {{e["longitude"]}} ]</td>
                        </tr>
                        {% if 'cause' in e %}
                        <tr>
                            <td>Cause</td>
                            <td>{{e["cause"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'maxWaterHeight' in e %}
                        <tr>
                            <td>Water Height (max)</td>
                            <td>{{e["maxWaterHeight"]}} m</td>
                        </tr>
                        {% endif %}
                        {% if 'deaths' in e %}
                        <tr>
                            <td>Deaths (min)</td>
                            <td>{{e["deaths"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'damages' in e %}
                        <tr>
                            <td>Damages (min)</td>
                            <td>{{e["damages"]}}M $</td>
                        </tr>
                        {% endif %}
                        {% if 'injuries' in e %}
                        <tr>
                            <td>Injuries (min)</td>
                            <td>{{e["injuries"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'housesDamaged' in e %}
                            <tr>
                                <td>Houses damaged (min)</td>
                                <td>{{e["housesDamaged"]}}</td>
                            </tr>
                        {% endif %}
                    </table>
                        {% if 'comments' in e %}
                        <table>
                            <tr>
                                <td style="background-color: rgba(0, 92, 179, 0.4);">Comments</td>
                            </tr>
                            <tr>
                                <td style="background-color: rgba(100, 100, 100, 0.25); font-size: 16px;">{{e["comments"]}}</td>
                            </tr>
                        </table>
                        {% endif %}
                </div>
                {% endfor %}

                {% for e in events["volcanos"] %}
                <div class="details_table" id="v{{loop.index}}" style="display:none">
                    <h1 style="text-align:center">Details of the volcano</h1>
                    <table>
                        <colgroup>
                            <col class="feature"/>
                            <col class="value"/>
                        </colgroup>
                        <tr>
                            <td>Name</td>
                            <td>{{e["name"]}}</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>{{e['distance']}}km</td>
                        </tr>
                        <tr>
                            <td>Coordinates</td>
                            <td>[ {{e["latitude"]}} ; {{e["longitude"]}} ]</td>
                        </tr>
                        {% if 'morphology' in e %}
                        <tr>
                            <td>Morphology </td>
                            <td>{{e["morphology"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'deaths' in e %}
                        <tr>
                            <td>Deaths (min)</td>
                            <td>{{e["deaths"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'damages' in e %}
                        <tr>
                            <td>Damages (min)</td>
                            <td>{{e["damages"]}}M $</td>
                        </tr>
                        {% endif %}
                        {% if 'injuries' in e %}
                        <tr>
                            <td>Injuries (min)</td>
                            <td>{{e["injuries"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'housesDamaged' in e %}
                            <tr>
                                <td>Houses damaged (min)</td>
                                <td>{{e["housesDamaged"]}}</td>
                            </tr>
                        {% endif %}
                    </table>

                    {% with eid=loop.index %}  
                    <h3 style="text-align:center">Erruptions ({{e["erruptions"]|length}})</h3>

                    <!-- For each erruption of a volcano, a class mySlides+[id of the current volcano] is created
                         Then with css and js coming from w3school, the erruptions are showed like slide
                         The last erruption is showed with arrows and the user can naviguate between all the erruptions -->
                    <div class="slideshow-container">
                    {% for event in e["erruptions"] %}
                    <div class="mySlides{{eid}}">
                    <table>
                        <colgroup>
                            <col class="feature"/>
                            <col class="value"/>
                        </colgroup>
                        <tr>
                            <td>Date</td>
                            <td>{{event["year"]}}/{{event["month"]}}/{{event["day"]}}</td>
                        </tr>
                        {% if 'deaths' in event %}
                        <tr>
                            <td>Deaths (min)</td>
                            <td>{{event["deaths"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'damages' in event %}
                        <tr>
                            <td>Damages (min)</td>
                            <td>{{e["damages"]}}M $</td>
                        </tr>
                        {% endif %}
                        {% if 'injuries' in event %}
                        <tr>
                            <td>Injuries (min)</td>
                            <td>{{e["injuries"]}}</td>
                        </tr>
                        {% endif %}
                        {% if 'housesDamaged' in event %}
                            <tr>
                                <td>Houses damaged (min)</td>
                                <td>{{event["housesDamaged"]}}</td>
                            </tr>
                        {% endif %}
                    </table>
                        {% if 'comments' in event %}
                            <table>
                                <tr>
                                    <td style="background-color: rgba(0, 92, 179, 0.4);">Comments</td>
                                </tr>
                                <tr>
                                    <td style="background-color: rgba(100, 100, 100, 0.25); font-size: 16px;">{{event["comments"]}}</td>
                                </tr>
                            </table>
                        {% endif %}
                    </div>
                    {% endfor %} 
                        <a class="prev" onclick="plusSlides(1,'{{eid}}')">&#10094;</a>
                        <a class="next" onclick="plusSlides(-1,'{{eid}}')">&#10095;</a>
                    {% endwith %}
                </div>
                </div>
                {% endfor %}
            </div>
        </div>


        <script type="text/javascript" src="/static/js/details.js"></script>
    </body>
</html>